<section class="profile">
  <ul class="flags">
    <li><%= link_to "", {controller: "application", action: "locale", l: "pt-BR"}, class: "flag br" %></li>
    <li><%= link_to "", {controller: "application", action: "locale", l: "en"}, class: "flag en" %></li>
    <li><%= link_to "", {controller: "application", action: "locale", l: "es"}, class: "flag es" %></li>
  </ul>
</section>
