<section class="profile">
  <ul class="flags">
    <li><%= link_to "", {controller: "application", action: "locale", l: "pt-BR"}, class: "flag br", id: "pt-BR" %></li>
    <li><%= link_to "", {controller: "application", action: "locale", l: "en"}, class: "flag en", id: "en" %></li>
    <li><%= link_to "", {controller: "application", action: "locale", l: "es"}, class: "flag es", id: "es" %></li>
  </ul>
</section>
